{% extends 'base.html.twig' %}

{% block title %}Occasion{% endblock %}

{% block body %}
    <h1>Occasion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ occasion.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ occasion.title }}</td>
            </tr>
            <tr>
                <th>ShortDesc</th>
                <td>{{ occasion.shortDesc }}</td>
            </tr>
            <tr>
                <th>LongDesc</th>
                <td>{{ occasion.longDesc }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ occasion.startDate ? occasion.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ occasion.endDate ? occasion.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>MaxParts</th>
                <td>{{ occasion.maxParts }}</td>
            </tr>
            <tr>
                <th>MinParts</th>
                <td>{{ occasion.minParts }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_occasion_index') }}">back to list</a>

    <a href="{{ path('app_occasion_edit', {'id': occasion.id}) }}">edit</a>

    {{ include('occasion/_delete_form.html.twig') }}
{% endblock %}
